body {
    background-color: #eeeeee;
}
#cool {
    background-color: black;
}
.bg-light-gray {
  background-color: #eeeeee;
}
.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
  width:250px;
  height:250px;

}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}
.margin-top-20{
margin-top:20px;
}
section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #ff4242;
}
.team-member img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  -ms-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
}
.team-member img:hover{
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    filter: grayscale(0);
}
.color-home>.active>a,.color-home>.active>a:hover,.color-home>.active>a:focus {
  border-color: #5FB2FF;
}
.color-gallery>.active>a,.color-home>.active>a:hover,.color-home>.active>a:focus {
  border-color: #ff4242;
}
.color-council>.active>a,.color-home>.active>a:hover,.color-home>.active>a:focus {
  border-color: #ffbc00;
}
.color-events>.active>a,.color-home>.active>a:hover,.color-home>.active>a:focus {
  border-color: #7189ff;
}
.color-contactus>.active>a,.color-home>.active>a:hover,.color-home>.active>a:focus {
  border-color: #3fbf90;
}
.color-login>.active>a,.color-home>.active>a:hover,.color-home>.active>a:focus {
  border-color: #884a7b;
}
.footer-color-home{
  background-color:#000e1b; 
}
.footer-color-gallery{
  background-color:#ff4242; 
}
.footer-color-council{
  background-color:#ffbc00; 
}
.footer-color-events{
  background-color:#7189ff; 
}
.footer-color-contactus{
  background-color:#3fbf90; 
}
.footer-color-login{
  background-color:#884a7b; 
}
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
 }
.navbar-default .navbar-nav> li > a{
 color:#515151;
 }
.navbar{
  margin-bottom: 0px;
box-shadow: 0 0px 10px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0);
}
.navbar a{
  font-family: Roboto;
  font-size: 20px;
}
.navbar-default{
background-color:#fff;
padding: 0px 16px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus 
{	
	color: #515151;
  background: #fff;
	border-bottom-width: thick;
  border-bottom-style: solid;
}
.navbar-default .navbar-nav> li >a:hover{
	color:#515151;
	background: #fff;
	border-bottom-width: thick;
  border-bottom-color: #686868;
  border-bottom-style: solid;

}
::-webkit-input-placeholder {
   color: rgba(255,255,255,0.7);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255,255,255,0.7);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255,255,255,0.7);  
}

:-ms-input-placeholder {  
   color: rgba(255,255,255,0.7);  
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #515151;
    background-color: #fff;
	}
.navbar-default .navbar-toggle .icon-bar{
 background-color: #515151;
 }
 .navbar-brand{
 display:none;
 }
.home_background{
    margin-top: 40px;
    background-image: url("../img/background.jpg");
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    background-size: cover;
    color: #fff;
    background-position: 50% center;
    height: 80vh;
}
.text-col{
     padding: 100px 20px 100px 20px;
    overflow: hidden;
}
.text-box{
  padding:10px 50px;
  color: #565656;
  font-family: Roboto;
  line-height: 1.2;

}
.text-box h1{
   font-size:40px;
 font-weight: 600;
}
.text-box h3{
   font-size:32px;
 font-weight: 400;
}
.text-box h4{
  font-size:26px;
  font-weight: 400;
}
.text-box.center h1,.text-box.center h4,.text-box.center h3{
  text-align: center;
  text-align: -webkit-center;
}
.logo-img{
  text-align: center;
  text-align: -webkit-center;
  padding: 12px;
}
.logo-img img{
margin-top:50px;
height: 40vh;
}
.home-background-content{
  padding: 12px;
}
.home-background-content h3{
font-family: Roboto,sans-serif;
	font-size:28px;
	font-weight:200;
  text-align: center;
  text-align: -webkit-center;
}
.input-box{
  padding:10px 50px;
}
.input_text_new{
    border: 0;
    border-radius: 0;
	
    border-bottom: 1px solid rgba(255,255,255,0.7);
    background: none;
    color: #fff;
    font-size: 18px;
    padding: 7px 0;
    width: 100%;
}
.input_text_new:focus {
    border-bottom-color: #fff;
    outline: none;
}
.input_btn_new{
    padding: 8px 25px;
    border-radius: 4px;
    background-color: #fff;
    color: #000e1b;
    cursor: pointer;
    border: none;
    font-family: Roboto,sans-serif;

}
.connect-box{
  padding:10px 50px;
}
.connect-box > a > i{
color: #fff;
font-size: 35px;
margin: 0px 10px;
}
.login-box{
	padding:10px 50px;
}
.login-box > a > i{
color: #ccc;
font-size: 35px;
margin: 0px 10px;
}
.footer {
  padding:10px 50px;
  color: #565656;
  font-family: Roboto;
 }
.event_col{
  padding:0px;
  overflow: hidden;
}
.event_showcase_image{
  width:100%;
  height:90vh;
  background-size:cover;
  background-position: 50% center;
}
.event_showcase_text{
   padding:10px 50px !important;
   font-family: raleway;
}
.event_showcase_text >.title {
  font-weight: 800;
  text-transform: uppercase;
  padding: 10px;
    font-family: roboto;
    background-color: #ff4242;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}
.event_showcase_text >.desc {
  line-height: 25px;
}
.event_showcase_text >.date {
  font-weight: 800;
  text-transform: uppercase;
  padding: 10px;
    font-family: roboto;
    border-bottom: 10px solid;
    border-color: #ff4242;
    color: #686868;
    font-weight: 600;
    text-transform: uppercase;
}
/*        Login CSS      */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  /*width: 360px;*/
  /*padding: 8% 0 0;*/
  margin: auto;
}


.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form input::-webkit-input-placeholder{
   color: #b3b3b3 !important;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #884a7b;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #884a7b;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #884a7b;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.footer-logo{
height:6vh;
margin-top:8px;
opacity: 0.8;
}


 @media (max-width: 768px){
 
	.logo-img img{
	margin-top:40px;
	height: 30vh;
	}	
	.footer-logo{
height:5vh;
margin-top:14px;
opacity: 0.8;
}

  .pull-left {
    float: none !important;
	}
.pull-right{
    float: none !important;
	}
	.navbar-default {
    background-color: #fff;
    padding: 10px 15px;
}
  .navbar-nav {
  width: 100%;
  text-align: left;
	}
.navbar-nav > li { 
  float: none;
  display:block;
  padding: 12px;
  border-bottom: 1px solid #f0f0f0;
 }
 .navbar-nav > li > a {
 font-weight: 500;
 font-size: 15px;
 }
 .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus { 
  color: #9fd7e0;
  background: #fff;
  border-bottom-width: 0px;
  border-bottom-color: #9fd7e0;
  border-bottom-style: solid;
}
.navbar-default .navbar-nav> li >a:hover{
  color:#9fd7e0;
  background: #fff;
  border-bottom-width: 0px;
  border-bottom-color: #9fd7e0;
  border-bottom-style: solid;
}
 .navbar-brand{
 display:block;
 }
 }

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(255, 66, 66, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
